<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITE_MAPS_FILE_PATH</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <context-param>
        <param-name>SEMESTER_DATE_FILE_PATH</param-name>
        <param-value>/WEB-INF/SemesterDate.properties</param-value>
    </context-param>
    <context-param>
        <param-name>CHECKING_EXPIRATION_POST</param-name>
        <param-value>/WEB-INF/checkingExpirationPost.properties</param-value>
    </context-param>
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>com.se1625.filter.DispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.se1625.listener.MyApplicationListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.se1625.listener.AutoCreateSemesterServletListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.se1625.listener.AutoCheckExpirationPostServletListener</listener-class>
    </listener>
    <listener>
        <description>RequestListener</description>
        <listener-class>com.se1625.listener.StudentApplyCompanyJobServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ImportStudentExcelFileServlet</servlet-name>
        <servlet-class>com.se1625.controller.ImportStudentExcelFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportEvalutionExcelFileServlet</servlet-name>
        <servlet-class>com.se1625.controller.ExportEvalutionExcelFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadApplyCVStudentServlet</servlet-name>
        <servlet-class>com.se1625.controller.LoadApplyCVStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyCVStudentServlet</servlet-name>
        <servlet-class>com.se1625.controller.ApplyCVStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVStudentServlet</servlet-name>
        <servlet-class>com.se1625.controller.CVStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>com.se1625.controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAccountsServlet</servlet-name>
        <servlet-class>com.se1625.controller.LoginAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <servlet-class>com.se1625.controller.StudentDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSaveJobServlet</servlet-name>
        <servlet-class>com.se1625.controller.SearchSaveJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeShowCompanyDetailServlet</servlet-name>
        <servlet-class>com.se1625.controller.HomeShowCompanyDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCompanyStudentHomeServlet</servlet-name>
        <servlet-class>com.se1625.controller.SearchCompanyStudentHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStudentHomeServlet</servlet-name>
        <servlet-class>com.se1625.controller.ShowStudentHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentProfileServlet</servlet-name>
        <servlet-class>com.se1625.controller.UpdateStudentProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDeleteSaveJobServlet</servlet-name>
        <servlet-class>com.se1625.controller.StudentDeleteSaveJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStudentProfileServlet</servlet-name>
        <servlet-class>com.se1625.controller.ShowStudentProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAccountServlet</servlet-name>
        <servlet-class>com.se1625.controller.LogoutAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSaveJobServlet</servlet-name>
        <servlet-class>com.se1625.controller.StudentSaveJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewInternShipServlet</servlet-name>
        <servlet-class>com.se1625.controller.ReviewInternShipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStudentAppliedJobServlet</servlet-name>
        <servlet-class>com.se1625.controller.ShowStudentAppliedJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowApplyCVServlet</servlet-name>
        <servlet-class>com.se1625.controller.ShowApplyCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancleApplyCVServlet</servlet-name>
        <servlet-class>com.se1625.controller.CancleApplyCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentAppliedJobServlet</servlet-name>
        <servlet-class>com.se1625.controller.SearchStudentAppliedJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAdminStudentManagementServlet</servlet-name>
        <servlet-class>com.se1625.controller.ShowAdminStudentManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentByAdminServlet</servlet-name>
        <servlet-class>com.se1625.controller.SearchStudentByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentInforMationServlet</servlet-name>
        <servlet-class>com.se1625.controller.UpdateStudentInforMationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStudentEvaluationServlet</servlet-name>
        <servlet-class>com.se1625.controller.ShowStudentEvaluationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentEvaluationServlet</servlet-name>
        <servlet-class>com.se1625.controller.SearchStudentEvaluationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowInternApplicationServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminShowInternApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangeStatusInternApplicationServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminChangeStatusInternApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowPostManagementServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminShowPostManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewPostDetailsServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminViewPostDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchCompanyPostServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminSearchCompanyPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdatePostServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminUpdatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateStatusCompanyServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminUpdateStatusCompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCompanyAdminManagerServlet</servlet-name>
        <servlet-class>com.se1625.controller.SearchCompanyAdminManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyShowIntershipApplicationServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyShowIntershipApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyUpdateStatusIntershipApplicationServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyUpdateStatusIntershipApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanySearchInternsServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanySearchInternsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyViewStudentDetailServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyViewStudentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyShowInternsManagermentServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyShowInternsManagermentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyUpdateInternsServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyUpdateInternsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCompanyDashBoardServlet</servlet-name>
        <servlet-class>com.se1625.controller.ShowCompanyDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCompanyPostServlet</servlet-name>
        <servlet-class>com.se1625.controller.CreateNewCompanyPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCreateNewCompanyPostServlet</servlet-name>
        <servlet-class>com.se1625.controller.ShowCreateNewCompanyPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyViewPostDetailServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyViewPostDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyShowProfileServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyShowProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyUpdateProfileServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyUpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyShowPostServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyShowPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanySearchPostServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanySearchPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyUpdatePostServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyUpdatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyShowPostDetailsServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanyShowPostDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanySearchInternsManagementServlet</servlet-name>
        <servlet-class>com.se1625.controller.CompanySearchInternsManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFileModelServlet</servlet-name>
        <servlet-class>com.se1625.controller.DownloadFileModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddStudentServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminAddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowAddingStudentServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminShowAddingStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCompanyManagerServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminCompanyManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.se1625.controller.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportStudentExcelFileServlet</servlet-name>
        <url-pattern>/ImportStudentExcelFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportEvalutionExcelFileServlet</servlet-name>
        <url-pattern>/ExportEvalutionExcelFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadApplyCVStudentServlet</servlet-name>
        <url-pattern>/LoadApplyCVStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyCVStudentServlet</servlet-name>
        <url-pattern>/ApplyCVStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVStudentServlet</servlet-name>
        <url-pattern>/CVStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAccountsServlet</servlet-name>
        <url-pattern>/LoginAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <url-pattern>/StudentDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSaveJobServlet</servlet-name>
        <url-pattern>/SearchSaveJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeShowCompanyDetailServlet</servlet-name>
        <url-pattern>/HomeShowCompanyDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCompanyStudentHomeServlet</servlet-name>
        <url-pattern>/SearchCompanyStudentHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStudentHomeServlet</servlet-name>
        <url-pattern>/ShowStudentHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentProfileServlet</servlet-name>
        <url-pattern>/UpdateStudentProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDeleteSaveJobServlet</servlet-name>
        <url-pattern>/StudentDeleteSaveJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStudentProfileServlet</servlet-name>
        <url-pattern>/ShowStudentProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAccountServlet</servlet-name>
        <url-pattern>/LogoutAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSaveJobServlet</servlet-name>
        <url-pattern>/StudentSaveJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewInternShipServlet</servlet-name>
        <url-pattern>/ReviewInternShipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStudentAppliedJobServlet</servlet-name>
        <url-pattern>/ShowStudentAppliedJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowApplyCVServlet</servlet-name>
        <url-pattern>/ShowApplyCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancleApplyCVServlet</servlet-name>
        <url-pattern>/CancleApplyCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentAppliedJobServlet</servlet-name>
        <url-pattern>/SearchStudentAppliedJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAdminStudentManagementServlet</servlet-name>
        <url-pattern>/ShowAdminStudentManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentByAdminServlet</servlet-name>
        <url-pattern>/SearchStudentByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentInforMationServlet</servlet-name>
        <url-pattern>/UpdateStudentInforMationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStudentEvaluationServlet</servlet-name>
        <url-pattern>/ShowStudentEvaluationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentEvaluationServlet</servlet-name>
        <url-pattern>/SearchStudentEvaluationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowInternApplicationServlet</servlet-name>
        <url-pattern>/AdminShowInternApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangeStatusInternApplicationServlet</servlet-name>
        <url-pattern>/AdminChangeStatusInternApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowPostManagementServlet</servlet-name>
        <url-pattern>/AdminShowPostManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewPostDetailsServlet</servlet-name>
        <url-pattern>/AdminViewPostDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchCompanyPostServlet</servlet-name>
        <url-pattern>/AdminSearchCompanyPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdatePostServlet</servlet-name>
        <url-pattern>/AdminUpdatePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateStatusCompanyServlet</servlet-name>
        <url-pattern>/AdminUpdateStatusCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCompanyAdminManagerServlet</servlet-name>
        <url-pattern>/SearchCompanyAdminManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCompanyDashBoardServlet</servlet-name>
        <url-pattern>/ShowCompanyDashBoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewCompanyPostServlet</servlet-name>
        <url-pattern>/CreateNewCompanyPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCreateNewCompanyPostServlet</servlet-name>
        <url-pattern>/ShowCreateNewCompanyPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyViewPostDetailServlet</servlet-name>
        <url-pattern>/CompanyViewPostDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyShowIntershipApplicationServlet</servlet-name>
        <url-pattern>/CompanyShowIntershipApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyUpdateStatusIntershipApplicationServlet</servlet-name>
        <url-pattern>/CompanyUpdateStatusIntershipApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanySearchInternsManagementServlet</servlet-name>
        <url-pattern>/CompanySearchInternsManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanySearchInternsServlet</servlet-name>
        <url-pattern>/CompanySearchInternsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyViewStudentDetailServlet</servlet-name>
        <url-pattern>/CompanyViewStudentDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyShowInternsManagermentServlet</servlet-name>
        <url-pattern>/CompanyShowInternsManagermentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyUpdateInternsServlet</servlet-name>
        <url-pattern>/CompanyUpdateInternsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyShowProfileServlet</servlet-name>
        <url-pattern>/CompanyShowProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyUpdateProfileServlet</servlet-name>
        <url-pattern>/CompanyUpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyShowPostServlet</servlet-name>
        <url-pattern>/CompanyShowPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanySearchPostServlet</servlet-name>
        <url-pattern>/CompanySearchPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyUpdatePostServlet</servlet-name>
        <url-pattern>/CompanyUpdatePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyShowPostDetailsServlet</servlet-name>
        <url-pattern>/CompanyShowPostDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileModelServlet</servlet-name>
        <url-pattern>/DownloadFileModelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddStudentServlet</servlet-name>
        <url-pattern>/AdminAddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowAddingStudentServlet</servlet-name>
        <url-pattern>/AdminShowAddingStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCompanyManagerServlet</servlet-name>
        <url-pattern>/AdminCompanyManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <res-ref-name>DBCONNECTION</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
